
* { 
    margin: 0; 
    padding: 0;
}

body { 
    background: #E6E6E6;
    background-size: auto;
    font-family: "Arial";
    color: black;

}

table {
    margin: 1% auto;
    width: 80%;
    border-spacing: 0px;
    border-bottom: 1px solid black;
    background-color:white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    box-shadow: 0px 0 10px 3px black;

}

table #trcabecera {

    height: 50px;


}

#cabecera {
    font-size: 1.50em;
    background: black;    
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color:white;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-style: normal;
    font-weight: bold;
    text-shadow: 1px 1px 4px red;
    padding: 5px 5px;
    text-align: center;
}


#primeraFila td {
    font-weight: bold;
    padding-left: 4px;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #01A9DB;
    text-align: center;
    color:white;

}


td {
    text-align:center;
    padding-left: 4px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid black;

}

#seleccion{
        text-align: center;
       
      }
      
form {
    display: inline;
    margin-right: 4px;
}

.rojo{
  color:red;
}
.verde{
  color:green;
}